{% extends 'base.html'%}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h3 style="text-align: center;">Send direct email to mechanic! </h3><br>
    <form action="https://formspree.io/f/xqknlgdr" method="POST" name="feedback-form" class="validate" target="_blank"
        enctype=”multipart/form-data”>
        <div class="form-row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="NAME" id="NAME" placeholder="Insert Name…" required>
            </div>
            <div class="form-group col-md-4">
                <input type="email" class="form-control" name="EMAIL" id="EMAIL" placeholder="Insert Email…" required>
            </div>
            <div class="form-group col-md-2"></div>
        </div><br>
        <div class="form-group">
            <textarea type="text" class="form-control" name="MESSAGE" id="MESSAGE" rows="6"
                placeholder="Type your message here…" required></textarea>
        </div>
        <input style="margin-left: 40%;" type="submit" value="Send Message" class="btn btn-warning" id="submit">
    </form>
</div>
{% endblock %}