{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block content %}
<div class="container">
    <h1 class="text-center">Mobimechanic At Your Service!</h1>
    <div class="row">
        <div class="col-md-4 mb-4" style="padding-top: 2%;">
            <div class="card">
                <div class="card-top bg-warning" style="height: 50px;">
                    <h4 class="card-title" style="text-align: center; margin-top: 2%;">Wheel Alignment</h4>
                </div>
                <img class="card-img" src="/static/images/whealign.jpg" alt="" style="height: 250px;">
                <div class="card-body" style="height: 70px; text-align: center;">
                    <a href="{% url 'wheelAlign' %}" class="btn btn-sm btn-warning">View available mechanics</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4" style="padding-top: 2%;">
            <div class="card" >
                <div class="card-top bg-warning" style="height: 50px;">
                    <h4 class="card-title" style="text-align: center; margin-top: 2%;">Paint Job</h4>
                </div>
                <img class="card-img" src="/static/images/paint.jpg" alt="" style="height: 250px;">
                <div class="card-body" style="height: 70px; text-align: center;">
                    <a href="{% url 'paintJob' %}" class="btn btn-sm btn-warning">View available mechanics</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4" style="padding-top: 2%;">
            <div class="card" >
                <div class="card-top bg-warning" style="height: 50px;">
                    <h4 class="card-title" style="text-align: center; margin-top: 2%;">Engine Tune-up</h4>
                </div>
                <img class="card-img" src="/static/images/engine.jpg" alt="" style="height: 250px;">
                <div class="card-body" style="height: 70px; text-align: center;">
                    <a href="{% url 'engine' %}" class="btn btn-sm btn-warning">View available mechanics</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4" style="padding-top: 2%;">
            <div class="card">
                <div class="card-top bg-warning" style="height: 50px;">
                    <h4 class="card-title" style="text-align: center; margin-top: 2%;">New Tires</h4>
                </div>
                <img class="card-img" src="/static/images/tires.png" alt="" style="height: 250px;">
                <div class="card-body" style="height: 70px; text-align: center;">
                    <a href="{% url 'tires' %}" class="btn btn-sm btn-warning">View available mechanics</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4" style="padding-top: 2%;">
            <div class="card">
                <div class="card-top bg-warning" style="height: 50px;">
                    <h4 class="card-title" style="text-align: center; margin-top: 2%;">Brake Work</h4>
                </div>
                <img class="card-img" src="/static/images/brake.jpg" alt="" style="height: 250px;">
                <div class="card-body" style="height: 70px; text-align: center;">
                    <a href="{% url 'brake' %}" class="btn btn-sm btn-warning">View available mechanics</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4" style="padding-top: 2%;">
            <div class="card">
                <div class="card-top bg-warning" style="height: 50px;">
                    <h4 class="card-title" style="text-align: center; margin-top: 2%;">Battery Replacement</h4>
                </div>
                <img class="card-img" src="/static/images/battery.jpg" alt="" style="height: 250px;">
                <div class="card-body" style="height: 80px; text-align: center;">
                    <a href="{% url 'battery' %}" class="btn btn-sm btn-warning">View available mechanics</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

